<header>
   <div class="container-fluid 0px center welcome">
        <div class="jumbotron jumbotron-fluid">
        <div class="container">
            </br>
            <h1 class="display-4">Welcome to Picto Vault!</h1>
            <p class="lead">Picto Vault is a secure online repository where you can store your images. </p>
        </div>
        </div>
    </div>
</header>
</br>
<div class="center">
  <h1 class="welcome">About the Creator</h1>
</div>
</br>
<div class="container info">
  <div class="row">
      <div class="col-6">
        <div class="card border-dark shadow">
          <%= image_tag("me.png", class:"card-img-top", alt:"Sophie Michaud") %>
        </div>
      </div>
      <div class="col">
        <h4>
          Hi my name is Sophie! I'm an Engineering Systems and Computing Student currently in my fourth year studying at the University of Guelph.
        </h4>
        <div>
          </br>
          <h3>
            <strong>Contact Details</strong>
          </h3>
          <h5> sophiem@uoguelph.ca </h5>
          </br>
          <%= link_to "View Resume", 'https://drive.google.com/file/d/1oOUD5YJu4lmthfYPyeyF_1qCEh-rGm7y/view?usp=sharing', class: "btn btn-dark" %>
          <div>
            </br>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <a href="https://www.linkedin.com/in/sophienmichaud/" class="fa fa-linkedin"></a>
            <a href="https://github.com/sophiemichaud" class="fa fa-github"></a>
            <a href="https://twitter.com/Sophie__Michaud" class="fa fa-twitter"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</br>
</br>