<header>
   <div class="container-fluid 0px center welcome">
        <div class="jumbotron jumbotron-fluid">
        <div class="container">
            </br>
            <h1 class="display-4">Welcome to Picto Vault!</h1>
            <p class="lead">Picto Vault is a secure online repository where you can store your images. </p>
        </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <h1 class="welcome">About the Creator</h1>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <%= image_tag("me.png", class:"card-img-top", alt:"Sophie Michaud") %>
      </div>
    </div>
  </div>
</div>
<div class="center">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <a href="https://www.linkedin.com/in/sophienmichaud/" class="fa fa-linkedin"></a>
    <a href="https://github.com/sophiemichaud" class="fa fa-github"></a>
    <a href="https://twitter.com/Sophie__Michaud" class="fa fa-twitter"></a>
</div>