// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.lock{
    display: block;
    margin: auto;
    fill: #96bf48;
    width: 2em;
    height: 2em;
}

.nav-icons{
    display: block;
    margin: auto;
    fill: #96bf48;
    width: 1em;
    height: 1em;
}

.navbar-brand{
    font-family:'Quicksand', sans-serif;
    font-weight: 300;
    font-size:xx-large;
}