// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
}

.lock{
    display: block;
    margin: auto;
    fill: #96bf48;
    width: 2em;
    height: 2em;
}

.nav-icons{
    display: block;
    margin: auto;
    fill: #96bf48;
    width: 1em;
    height: 1em;
}

.navbar-brand{
    font-family:'Quicksand', sans-serif;
    font-weight: 300;
    font-size:xx-large;
}

.welcome{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: black;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    top: 0;
    bottom: auto;
}

.center {
    display: flex;
    justify-content: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
  }
  
.fa:hover {
    opacity: 0.7;
}
  
 
.fa-linkedin {
    background: #2867B2;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}
  

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.profilepic {
    height: 40%;
    width: 40%;
}

.about-me {
    padding-right: 10px;
}

body {
    background: url(IMG_2757.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

