// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.center {
    display: flex;
    justify-content: center;
}

.message {
    text-align: center;
}

body {
    background-color: white;
}

.form-control:focus {
    border-color: #96bf48;
    box-shadow: 0 1px 1px #96bf48 inset, 0 1px 1px #96bf48;
}
.form-label {
    font-family: Quicksand, sans-serif;
}

.message {
    font-family: 'Quicksand', sans-serif;
    text-align: left;
}

.field_with_errors {
    background-color: #96bf48;
}
  